# cache folders
__pycache__/
preprocessing/__pycache__/
.DS_Store
#.gitignore
.idea/.gitignore
.idea/SK-Persephone.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
#figures/


# My local files
#test*.py
AAFC_data/
RM_centroids/
centroid_*/
polygon_*/
MB_Tiles/
sk-mgrs-rm/
sk-mgrs-tiles/
Canada-Boundaries/
figugit res/
gpr_*

#hls_tmp/
#data/
#12U*/
*.tif
*.hdf
*.xml
*.hdr
#sample.*

#yield-data/
#aci_2019_sk_v1/
test_crs_voronoi.py

# virtualenv
#venv/
#ENV/